/* This file intentionally left blank. */
.http-method {
    font-weight: bold;
    
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 5px; /* This will round the edges */
    border: 2px solid
    

}


.transaction_font{
    font-size: 16pt;
}

.parameters-container {
    margin-top: 1.2rem;
}

.parameter-type {
    font-weight: lighter;
    
    font-size: 0.9rem;
   
    padding-left:2rem;
}


.parameter-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.parameter-item > * {
    margin: 0;       /* Reset margin for all direct children */
    padding: 0;      /* Reset padding for all direct children */
}

.name-and-requirement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}


.parameter-description {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-family: Arial;
    line-height:2;
}





html[data-theme="light"] .poss-param-values {
     background-color: #d3d3d3 !important; /* Darker grey */
   /* color: #ffffff !important; /* White text */
}


html[data-theme="dark"].poss-param-values {
    background-color: #ffffff !important; /* White background */
    color: #000000 !important; /* Black text */
}


.poss-param-values {
     background-color: #d3d3d3 !important;/* Mid-tone grey */
    font-size: 0.9rem;
    font-weight: lighter;
    padding-left: 0.5rem;
    color: #000; /* Ensure text is visible */
}
/*
.name-and-requirement {
    display: flex;
    align-items: center;
    padding-bottom:1.1rem;
   
}
*/


.parameter-requirement-required-font, .parameter-requirement-optional-font {
   /* Add some spacing between the label and the parameter name */
    padding-left: 2rem;
}




.parameter-requirement-required-font {
    color: red;
    font-weight: lighter;
}

.parameter-requirement-optional-font {
    color: rgb(20, 145, 228);
    font-weight: lighter;
}

.parameter-initial-bar {
    border-top: 2px solid #ccc;
    
}



.parameter-bottom-bar {
    border-top: 2px solid #ccc;
    padding-bottom:1rem;
}

.parameter-description {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    font-family: Arial;
    line-height:2;
}

.parameter-description .parameter-small-names {
    font-size: 60px;
    font-weight: bold;
    color: gray;
}

.dropdown .rubric {
    cursor: pointer;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.dropdown .rubric + * {
    display: none;
}

.dropdown.expanded .rubric + * {
    display: block;
}


.smaller-titles {
    font-size: 20px;
    font-weight: normal;
    padding-bottom:1rem;
}

.medium-titles {
    font-size: 150%;
    font-weight: normal;
    padding-bottom:1rem;
}



.red-text {
    color: red;
}
.blue-text {
    color: rgb(0, 81, 255);
}
table {
    min-width: 125%;

    table-layout: fixed;
    

    
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.bubbly-text {
  font-family: 'Comfortaa', cursive; /* Comfortaa is rounded and legible */
  font-size: 1.5em; /* A larger font size for better readability */
  font-weight: 700; /* Bold weight to enhance legibility */
  color: #333; /* High-contrast color for better visibility */
  background-color: #fff; /* A contrasting background to the text color */
  text-shadow: 1px 1px 2px #ddd; /* A subtle shadow for a 3D effect */
  border-radius: 5px; /* Rounded corners for the bubbly look */
  padding: 10px; /* Padding to prevent text from touching the edges */
  display: inline-block; /* Allows the use of padding and border-radius */
  margin: 10px 0; /* Add some space around the text */
}

/* Ensure that the text container has a clear focus state if it's interactive */
.bubbly-text:focus {
  outline: 3px solid #444; /* High-contrast outline for focus indication */
  outline-offset: 2px;
}



.medium-titles {
    font-size: 23px;
    font-weight: normal;
}


.parameter-names-test {
    
    font-size: 2.5rem;
    font-weight: bold;
    color: gray;
}

.child-items {
    padding-left: 2rem;
    font-size: 2.0em;
    color: gray;

}
.http-method.get {
    background-color: rgb(169, 255, 169);
    border-color: darkgreen;
}

.http-method.get.small {
    font-size: 12px; /* Set the font size */
    background-color: rgb(169, 255, 169);
    border-color: darkgreen;
}

.http-method.get.medium {
    font-size: 20px; /* Set the font size */
    background-color: rgb(169, 255, 169);
    border-color: darkgreen;
}

.http-method.post {
    background-color: rgb(255, 255, 255);
    border-color: rgb(5, 84, 255);
}


.http-method.post.small {
    font-size: 12px; /* Set the font size */
    background-color: rgb(255, 255, 255);
    border-color: rgb(5, 84, 255);
   
}

.scenario {
   color: rgb(0, 0, 0);
   font-weight: bold;
       
}
.http-method.post.medium {
    font-size: 17px; /* Set the font size */
    background-color: rgb(255, 255, 255);
    border-color: rgb(5, 51, 255);
}

.http-method.put {
    background-color: rgb(255, 255, 172);
    color: black; /* Changing text color to black for better readability on yellow background */
    border-color: gold;
}

.http-method.put.small {

    font-size: 12px;
    background-color: rgb(255, 255, 172);
    color: black; /* Changing text color to black for better readability on yellow background */
    border-color: gold;
}

.http-method.put.medium {

    font-size: 20px;
    background-color: rgb(255, 255, 172);
    color: black; /* Changing text color to black for better readability on yellow background */
    border-color: gold;
}

/* Clear styles for GET, POST, PUT methods in the table of contents */
li.toctree-l2 a .http-method.get,
li.toctree-l2 a .http-method.post,
li.toctree-l2 a .http-method.put {
    background-color: initial !important;
    border: none !important;
    color: initial !important;
    font-weight: initial !important;
    padding: initial !important;
    border-radius: initial !important;
}